Repository microsoft/react-native-test-app, pull requests merged in 2020-06, with the labels that each got.

#96 macOS: Initial test app
  .github/workflows/build.yml
  README.md
  ReactTestApp-DevSupport.podspec
  example/app.json
  example/ios/Podfile.lock
  example/macos/Podfile
  example/macos/Podfile.lock
  example/metro.config.js
  example/metro.config.macos.js
  example/package.json
  example/react-native.config.js
  example/yarn.lock
  ios/ReactTestApp/ReactInstance.swift
  ios/ReactTestApp/UIViewController+ReactTestApp.h
  ios/ReactTestApp/UIViewController+ReactTestApp.m
  ios/test_app.rb
  ios/use_react_native-0.60.rb
  ios/use_react_native-0.61.rb
  macos/ReactTestApp.xcodeproj/project.pbxproj
  macos/ReactTestApp/AppDelegate.swift
  macos/ReactTestApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  macos/ReactTestApp/Assets.xcassets/Contents.json
  macos/ReactTestApp/Base.lproj/Main.storyboard
  macos/ReactTestApp/Info.plist
  macos/ReactTestApp/ReactTestApp.entitlements
  macos/ReactTestApp/ViewController.swift
  macos/ReactTestAppShared
  macos/ReactTestAppTests/Info.plist
  macos/ReactTestAppUITests/Info.plist
  package.json
  scripts/xcodebuild-ios.sh
  scripts/xcodebuild.sh
  yarn.lock
Labels: platform: macOS

#98 macOS: Add Plop template
  .github/workflows/build.yml
  .npmignore
  README.md
  ios/test_app.rb
  plopfile.js
Labels: platform: macOS

#100 ci: Add Gradle wrapper validation action
  .github/workflows/build.yml
Labels: platform: Android

#103 fix(macOS): Load bundles with `.macos.jsbundle` extension
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  ios/ReactTestApp/ReactInstance.swift
  macos/ReactTestApp/AppDelegate.swift
Labels: platform: macOS

#105 fix(iOS): Present the component immediately if there's only one
  ios/ReactTestApp/ContentView.swift
Labels: platform: iOS

#104 fix(macOS): Present the component immediately if there's only one
  example/macos/Podfile.lock
  macos/ReactTestApp/AppDelegate.swift
  macos/ReactTestApp/Base.lproj/Main.storyboard
Labels: platform: macOS

#114 Add .bundle extention to valid bundle names
  android/app/src/main/java/com/sample/react/ReactBundleNameProvider.kt
Labels: platform: Android

#116 fix(Android): Prefer dev server if it's running
  android/app/src/main/java/com/sample/react/TestAppReactNativeHost.kt
Labels: platform: Android

#106 fix(Android): Present the component immediately if there's only one
  android/app/src/main/java/com/sample/MainActivity.kt
Labels: platform: Android

#125 fix(iOS): Build fails when Flipper is enabled
  ios/ReactTestApp/ReactInstance.swift
Labels: platform: iOS

#132 fix(iOS): Flipper is still built when disabled
  ios/test_app.rb
Labels: platform: iOS

#135 chore(iOS): Remove traces of CocoaPods from source Xcode project
  ios/ReactTestApp.xcodeproj/project.pbxproj
Labels: platform: iOS
