Repository microsoft/react-native-test-app, pull requests merged in 2020-09, with the labels that each got.

#206 ci(Apple): Enable all warnings and treat them as errors
  ios/ReactTestApp/ReactTestApp.common.xcconfig
  macos/ReactTestApp/ReactTestApp.common.xcconfig
Labels: platform: iOS, platform: macOS

#205 Plop template windows
  .github/workflows/build.yml
  package.json
  plopfile.js
  windows/test-app.js
Labels: platform: Windows

#213 fix(Android): Unable to disable Flipper
  android/test-app-util.gradle
Labels: platform: Android

#214 fix(Android): RedBox is dismissed on app start
  android/app/build.gradle
  android/app/src/main/java/com/react/testapp/MainActivity.kt
  android/app/src/main/java/com/react/testapp/react/TestAppReactNativeHost.kt
Labels: platform: Android

#215 ci(Windows): Build multiple projects in parallel
  .github/workflows/build.yml
Labels: platform: Windows

#216 fix(Windows): Support for 0.63
  example/package.json
  example/windows/ReactTestAppTests/ManifestTests.cpp
  package.json
  plopfile.js
  windows/ReactTestApp/App.cpp
  windows/ReactTestApp/App.h
  windows/ReactTestApp/App.xaml
  windows/ReactTestApp/MainPage.cpp
  windows/ReactTestApp/MainPage.h
  windows/ReactTestApp/MainPage.idl
  windows/ReactTestApp/Manifest.cpp
  windows/ReactTestApp/Manifest.h
  windows/ReactTestApp/Package.appxmanifest
  windows/ReactTestApp/ReactInstance.cpp
  windows/ReactTestApp/ReactInstance.h
  windows/ReactTestApp/ReactPackageProvider.cpp
  windows/ReactTestApp/ReactPackageProvider.h
  windows/ReactTestApp/ReactTestApp.vcxproj
  windows/ReactTestApp/ReactTestApp.vcxproj.filters
  windows/ReactTestApp/packages.config
  windows/ReactTestApp/pch.cpp
  windows/ReactTestApp/pch.h
  windows/test-app.js
  yarn.lock
Labels: platform: Windows

#218 fix(Android): Wrong version of Hermes is bundled in APK
  android/app/build.gradle
Labels: platform: Android

#220 fix(Windows): Include user projects in the generated solution
  .gitignore
  example/windows/ReactTestAppTests/ReactTestAppTests.vcxproj
  plopfile.js
  test/__fixtures__/test_app/node_modules/@react-native-community/cli-platform-ios/native_modules.rb
  test/__fixtures__/test_app/node_modules/@react-native-community/cli-platform-ios/package.json
  test/__fixtures__/test_app/node_modules/react-native/package.json
  test/__fixtures__/windows_test_app/Root.vcxproj
  test/__fixtures__/windows_test_app/android/Android.vcxproj
  test/__fixtures__/windows_test_app/ios/iOS.vcxproj
  test/__fixtures__/windows_test_app/macos/macOS.vcxproj
  test/__fixtures__/windows_test_app/node_modules/SomeProject.vcxproj
  test/__fixtures__/windows_test_app/windows/InvalidProject.vcxproj
  test/__fixtures__/windows_test_app/windows/Windows.vcxproj
  test/__fixtures__/windows_test_app/windows/WithoutProjectName.vcxproj
  test/__fixtures__/with_platform_resources/app.json
  test/__fixtures__/with_platform_resources/ios/.gitignore
  test/__fixtures__/with_platform_resources/macos/.gitignore
  test/__fixtures__/with_resources/app.json
  test/__fixtures__/with_resources/ios/.gitignore
  test/__fixtures__/with_resources/macos/.gitignore
  test/__fixtures__/without_platform_resources/app.json
  test/__fixtures__/without_platform_resources/ios/.gitignore
  test/__fixtures__/without_platform_resources/macos/.gitignore
  test/__fixtures__/without_resources/app.json
  test/__fixtures__/without_resources/ios/.gitignore
  test/__fixtures__/without_resources/macos/.gitignore
  test/__mocks__/fs.js
  test/copyAndReplace.test.js
  test/findNearest.test.js
  test/findUserProjects.test.js
  test/generateSolution.test.js
  test/getBundleResources.test.js
  test/parseResources.test.js
  test/replaceContent.test.js
  test/test_test_app.rb
  tsconfig.json
  windows/ReactTestApp.sln
  windows/test-app.js
Labels: platform: Windows

#222 fix(Windows): Support autolinking
  windows/ReactTestApp/AutolinkedNativeModules.g.cpp
  windows/ReactTestApp/AutolinkedNativeModules.g.h
  windows/ReactTestApp/AutolinkedNativeModules.g.targets
  windows/ReactTestApp/ReactInstance.cpp
  windows/ReactTestApp/ReactTestApp.vcxproj
  windows/ReactTestApp/ReactTestApp.vcxproj.filters
  windows/test-app.js
Labels: platform: Windows
