Repository microsoft/react-native-test-app, pull requests merged in 2020-08, with the labels that each got.

#180 fix(Android): Let JS component handle back button first
  android/app/src/main/java/com/react/testapp/component/ComponentActivity.kt
  android/app/src/main/java/com/react/testapp/react/TestAppReactNativeHost.kt
Labels: platform: Android

#181 fix(Apple): Fix tests depending on ReactTestApp-DevSupport not building
  ReactTestApp-DevSupport.podspec
  example/Example-Tests.podspec
  example/ios/ExampleTests/DevSupportTests.m
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  ios/ReactTestApp/ReactTestApp-DevSupport.m
  ios/ReactTestApp/UIViewController+ReactTestApp.m
Labels: platform: iOS, platform: macOS

#185 chore(deps): `adoptopenjdk8` has been moved to `homebrew/cask-versions`
  Brewfile
Labels: platform: macOS

#182 Initial props parsing
  windows/ReactTestApp/ComponentViewModel.cpp
  windows/ReactTestApp/ComponentViewModel.h
  windows/ReactTestApp/ComponentViewModel.idl
  windows/ReactTestApp/MainPage.cpp
  windows/ReactTestApp/MainPage.h
  windows/ReactTestApp/MainPage.idl
  windows/ReactTestApp/Manifest.cpp
  windows/ReactTestApp/Manifest.h
  windows/ReactTestApp/ReactTestApp.vcxproj
  windows/ReactTestApp/ReactTestApp.vcxproj.filters
Labels: platform: Windows

#186 fix(Android): Complex `initialProperties` may fail the app
  android/app/src/main/java/com/react/testapp/MainActivity.kt
  android/app/src/main/java/com/react/testapp/component/ComponentActivity.kt
  android/app/src/main/java/com/react/testapp/component/ComponentViewModel.kt
  android/app/src/main/java/com/react/testapp/manifest/Manifest.kt
  android/app/src/main/java/com/react/testapp/manifest/ManifestModule.kt
  android/app/src/main/java/com/react/testapp/manifest/MoshiBundleAdapter.kt
  android/app/src/main/java/com/react/testapp/react/ReadableMapExt.kt
  android/gradle/wrapper/gradle-wrapper.properties
Labels: platform: Android

#187 Bootstrapping Instrumented tests for Android
  .github/workflows/build.yml
  .npmignore
  android/app/build.gradle
  android/app/src/androidTest/java/com/react/testapp/ExampleInstrumentedTest.kt
  android/app/src/androidTest/java/com/react/testapp/ManifestTest.kt
  android/app/src/main/java/com/react/testapp/manifest/ManifestProvider.kt
  android/app/src/test/java/com/react/testapp/ExampleUnitTest.kt
  android/test-app-util.gradle
  test-app.gradle
Labels: platform: Android

#194 Add debug menu option and key accelerators to React component items
  windows/ReactTestApp/MainPage.cpp
  windows/ReactTestApp/MainPage.h
  windows/ReactTestApp/MainPage.xaml
  windows/ReactTestApp/Package.appxmanifest
  windows/ReactTestApp/pch.h
Labels: platform: Windows

#196 fix(Android): Test app fails to build with RN 0.60
  android/app/src/main/java/com/react/testapp/react/ReadableMapExt.kt
Labels: platform: Android

#195 fix(macOS): Enumerate components starting from 1
  macos/ReactTestApp/AppDelegate.swift
Labels: platform: macOS

#197 fix(macOS): Add support for react-native-macos v0.62
  example/package.json
  ios/pod_helpers.rb
  ios/use_react_native-0.60.rb
  ios/use_react_native-0.62.rb
  package.json
Labels: platform: macOS

#192 Consuming as npm package
  example/app.json
  windows/ReactTestApp.sln
  windows/ReactTestApp/ReactTestApp.vcxproj
  windows/ReactTestApp/ReactTestApp.vcxproj.filters
  windows/test-app.js
Labels: platform: Windows

#198 fix(macOS): Enable Hermes if hermes-engine-darwin is installed
  ios/ReactTestApp/React+Compatibility.m
  ios/pod_helpers.rb
  ios/test_app.rb
  ios/use_react_native-0.62.rb
Labels: platform: macOS

#201 chore: Address CVE-2020-8116
  example/yarn.lock
  package.json
  yarn.lock
Labels: dependencies

#202 Manifest tests
  .github/workflows/build.yml
  example/windows/.gitignore
  example/windows/ReactTestAppTests/ManifestTests.cpp
  example/windows/ReactTestAppTests/ReactTestAppTests.vcxproj.filters
  example/windows/ReactTestAppTests/ReactTestAppTestsTemplate.vcxproj
  example/windows/ReactTestAppTests/manifestTestFiles/simpleManifest.json
  example/windows/ReactTestAppTests/manifestTestFiles/withComplexInitialProperties.json
  example/windows/ReactTestAppTests/manifestTestFiles/withMultipleComponents.json
  example/windows/ReactTestAppTests/pch.cpp
  example/windows/ReactTestAppTests/pch.h
  windows/ReactTestApp.sln
  windows/ReactTestApp/MainPage.cpp
  windows/ReactTestApp/Manifest.cpp
  windows/ReactTestApp/Manifest.h
  windows/test-app.js
Labels: platform: Windows
