Repository microsoft/react-native-test-app, pull requests merged in 2020-07, with the labels that each got.

#136 Windows test app skeleton
  .gitignore
  .npmignore
  windows/.gitignore
  windows/ReactTestApp.sln
  windows/ReactTestApp/App.cpp
  windows/ReactTestApp/App.h
  windows/ReactTestApp/App.idl
  windows/ReactTestApp/App.xaml
  windows/ReactTestApp/Assets/LockScreenLogo.scale-200.png
  windows/ReactTestApp/Assets/SplashScreen.scale-200.png
  windows/ReactTestApp/Assets/Square150x150Logo.scale-200.png
  windows/ReactTestApp/Assets/Square44x44Logo.scale-200.png
  windows/ReactTestApp/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  windows/ReactTestApp/Assets/StoreLogo.png
  windows/ReactTestApp/Assets/Wide310x150Logo.scale-200.png
  windows/ReactTestApp/MainPage.cpp
  windows/ReactTestApp/MainPage.h
  windows/ReactTestApp/MainPage.idl
  windows/ReactTestApp/MainPage.xaml
  windows/ReactTestApp/Package.appxmanifest
  windows/ReactTestApp/PropertySheet.props
  windows/ReactTestApp/ReactTestApp.vcxproj
  windows/ReactTestApp/ReactTestApp.vcxproj.filters
  windows/ReactTestApp/ReactTestApp_TemporaryKey.pfx
  windows/ReactTestApp/packages.config
  windows/ReactTestApp/pch.cpp
  windows/ReactTestApp/pch.h
Labels: platform: Windows

#139 fix(iOS): Add URI schemes to support MSAL
  example/ios/Podfile.lock
  ios/ReactTestApp/Info.plist
  ios/test_app.rb
Labels: platform: iOS

#146 fix(Apple): Complex `initialProperties` may fail the app
  example/ios/ExampleTests/ManifestTests.swift
  ios/ReactTestApp/Manifest.swift
  ios/ReactTestApp/RCTDevSupport+UIScene.m
  macos/ReactTestApp/ViewController.swift
Labels: platform: iOS, platform: macOS

#149 chore(iOS): Stub unused tests
  ios/ReactTestAppTests/ReactTestAppTests.swift
  ios/ReactTestAppUITests/ReactTestAppUITests.swift
Labels: platform: iOS

#153 fix(Apple): `pod install` fails when `--repo-update` is also specified
  ios/test_app.rb
  test/test_test_app.rb
Labels: platform: iOS, platform: macOS

#150 ci(macOS): Run tests on CI
  .github/workflows/build.yml
  example/Example-Tests.podspec
  example/ios/Podfile.lock
  example/macos/Podfile
  example/macos/Podfile.lock
  example/yarn.lock
  macos/ReactTestApp.xcodeproj/project.pbxproj
  macos/ReactTestAppTests/ReactTestAppTests.swift
  macos/ReactTestAppUITests/ReactTestAppUITests.swift
Labels: platform: macOS

#160 fix(iOS): Tests fail to compile when Flipper is enabled
  ios/test_app.rb
Labels: platform: iOS

#165 refactor: Reuse result element when parsing manifest
  windows/ReactTestApp/MainPage.cpp
  windows/ReactTestApp/Manifest.cpp
  windows/ReactTestApp/Manifest.h
  windows/ReactTestApp/ReactTestApp.vcxproj
Labels: platform: Windows

#167 fix(macOS): `pod install` fails when `react-native` version differs
  ios/test_app.rb
  ios/use_react_native-0.60.rb
  ios/use_react_native-0.61.rb
Labels: platform: macOS

#169 fix(Apple): Move bundle options to React debug menu
  ios/ReactTestApp/ContentView.swift
  ios/ReactTestApp/ReactInstance.swift
Labels: platform: iOS, platform: macOS

#171 fix(Android): Add option to switch bundle source to debug menu
  android/app/src/main/java/com/react/testapp/MainActivity.kt
  android/app/src/main/java/com/react/testapp/react/TestAppReactNativeHost.kt
Labels: platform: Android

#177 chore: Bump suggestion-bot to 1.0.8
  .github/workflows/build.yml
  yarn.lock
Labels: dependencies

#176 fix(Android): Android build artifacts pollute installation folder
  .gitignore
  android/app/build.gradle
Labels: platform: Android

#166 Loading react native components
  .gitignore
  example/.gitignore
  example/app.json
  example/metro.config.windows.js
  example/package.json
  example/react-native.config.js
  package.json
  windows/.gitignore
  windows/ReactTestApp.sln
  windows/ReactTestApp/App.cpp
  windows/ReactTestApp/App.xaml
  windows/ReactTestApp/ComponentViewModel.cpp
  windows/ReactTestApp/ComponentViewModel.h
  windows/ReactTestApp/ComponentViewModel.idl
  windows/ReactTestApp/MainPage.cpp
  windows/ReactTestApp/MainPage.h
  windows/ReactTestApp/MainPage.idl
  windows/ReactTestApp/MainPage.xaml
  windows/ReactTestApp/Manifest.cpp
  windows/ReactTestApp/Manifest.h
  windows/ReactTestApp/ReactInstance.cpp
  windows/ReactTestApp/ReactInstance.h
  windows/ReactTestApp/ReactTestApp.vcxproj
  windows/ReactTestApp/ReactTestApp.vcxproj.filters
  windows/ReactTestApp/packages.config
  windows/ReactTestApp/pch.h
  yarn.lock
Labels: platform: Windows

#178 Move react menu to title bar
  windows/ReactTestApp/MainPage.cpp
  windows/ReactTestApp/MainPage.h
  windows/ReactTestApp/MainPage.xaml
Labels: platform: Windows
