Repository microsoft/react-native-test-app, pull requests merged in 2020-04, with the labels that each got.

#67 iOS: Support 0.60 before .5
  ios/use_react_native-0.60.rb
Labels: platform: iOS

#69 Refactor the TestAppReactNativeHost
  android/app/src/main/java/com/sample/MainActivity.kt
  android/app/src/main/java/com/sample/TestApp.kt
  android/app/src/main/java/com/sample/component/ComponentActivity.kt
  android/app/src/main/java/com/sample/react/TestAppReactNativeHost.kt
Labels: platform: Android

#74 iOS: Use path of `Podfile` as project root
  example/ios/Podfile
  example/ios/Podfile.lock
  plopfile.js
  test_app.rb
Labels: platform: iOS

#77 docs: Add more setup instructions [skip ci]
  README.md
Labels: documentation

#78 fix(iOS): RedBox can sometimes be invisible
  example/package.json
  ios/ReactTestApp/RCTDevSupport+UIScene.m
  package.json
Labels: platform: iOS
