Repository microsoft/react-native-test-app, pull requests merged in 2021-07, with the labels that each got.

#385 fix(windows): renew self-signed test certificate
  .github/workflows/renew-windows-certificate.yml
  windows/ReactTestApp/Package.appxmanifest
  windows/ReactTestApp/ReactTestApp.vcxproj
  windows/ReactTestApp/ReactTestApp_TemporaryKey.pfx
Labels: platform: Windows

#387 fix(windows): `yarn windows` fails in generated projects
  .github/workflows/build.yml
  example/package.json
  example/react-native.config.js
  example/test/config.test.js
  example/yarn.lock
  test/configure/__snapshots__/gatherConfig.test.js.snap
Labels: platform: Windows

#388 docs(configure): document how `getConfig()` works
  scripts/configure.js
Labels: documentation

#401 fix(windows): fix RedBox not appearing on error
  windows/ReactTestApp/ReactInstance.cpp
Labels: platform: Windows

#410 feat(android): support starting activities
  android/app/src/main/java/com/microsoft/reacttestapp/MainActivity.kt
Labels: platform: Android

#416 ci: work around Android emulator time-out issues
  .github/workflows/build.yml
Labels: platform: Android

#413 docs: refresh README
  CONTRIBUTING.md
  README.md
  example/package.json
Labels: documentation

#421 fix(macos): `react-native-macos` canary breaks `pod install`
  .github/labeler.yml
  ios/use_react_native-0.63.rb
Labels: platform: iOS, platform: macOS
