Repository microsoft/react-native-test-app, pull requests merged in 2021-11, with the labels that each got.

#579 fix(macos): declare support for react-native-macos@0.64
  example/ios/Podfile
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/package.json
  package.json
  scripts/set-react-version.js
  yarn.lock
Labels: platform: iOS, platform: macOS

#588 [chore] Add reference to the RNEU talk in the readme
  CONTRIBUTING.md
  README.md
Labels: documentation

#597 fix(android): set `project.ext.minSdkVersion` for community modules
  android/app/build.gradle
  android/dependencies.gradle
  android/support/build.gradle
Labels: platform: Android

#603 ci: fix CI failing on `bundle install`
  .github/workflows/build.yml
  .rubocop.yml
  Gemfile.lock
  ios/test_app.rb
Labels: platform: iOS, platform: macOS

#604 fix(android): fix name clash when building with Gradle 7
  .github/workflows/build.yml
  test-app.gradle
Labels: platform: Android

#605 fix(android): additional config to better support Kotlin modules
  android/app/build.gradle
  example/android/build.gradle
  scripts/configure.js
  test-app.gradle
  test/configure/__snapshots__/gatherConfig.test.js.snap
Labels: platform: Android

#606 fix(android): add config to support MSAL
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
Labels: platform: Android
