Repository microsoft/react-native-test-app, pull requests merged in 2022-08, with the labels that each got.

#1032 fix(ios): support multitasking on iPad
  ios/ReactTestApp/Info.plist
Labels: platform: iOS

#1040 fix(macos): fix `mouseDown` always opening React menu
  ios/ReactTestApp/ContentView.swift
  ios/ReactTestApp/ReactInstance.swift
  ios/ReactTestApp/SceneDelegate.swift
  macos/ReactTestApp/AppDelegate.swift
  macos/ReactTestApp/ViewController.swift
  package.json
Labels: platform: iOS, platform: macOS

#1044 fix(ios): fix wrong number of arguments passed to `use_react_native!`
  ios/use_react_native-0.70.rb
Labels: platform: iOS, platform: macOS

#1041 chore(docs): update the readme
  README.md
Labels: documentation

#1048 fix(android): allow custom Kotlin version
  android/dependencies.gradle
  example/android/gradle.properties
Labels: platform: Android

#1052 chore(android): remove unused code
  android/app/build.gradle
  android/test-app-util.gradle
  test-app.gradle
Labels: platform: Android

#1054 chore(macos): workaround for react-native-macos@main
  ios/use_react_native-0.70.rb
Labels: platform: iOS, platform: macOS

#1073 fix(ios): allow apps to run as-is on Apple silicon Macs
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  ios/ReactTestApp/Info.plist
Labels: platform: iOS, platform: macOS

#1074 chore: address unnecessary trailing comma error
  android/app/src/main/java/com/microsoft/reacttestapp/manifest/Manifest.kt
  scripts/generate-manifest.mjs
Labels: platform: Android
