Repository microsoft/react-native-test-app, pull requests merged in 2022-02, with the labels that each got.

#744 fix(android): increase max heap space for new projects
  .github/actions/gradle/action.yml
  example/android/gradle.properties
Labels: platform: Android

#745 fix(windows): crash on startup with cannot find resource
  windows/ReactTestApp/App.xaml
  windows/ReactTestApp/MainPage.xaml
Labels: platform: Windows

#759 fix(android): add compat layer for `ReactInstanceEventListener`
  android/app/build.gradle
  android/app/src/flipper/java/com/microsoft/reacttestapp/ReactNativeFlipper.kt
  android/app/src/main/java/com/microsoft/reacttestapp/react/TestAppReactNativeHost.kt
  android/app/src/reactinstanceeventlistener-0.68/java/com/microsoft/reacttestapp/compat/ReactInstanceEventListener.kt
  android/app/src/reactinstanceeventlistener-pre-0.68/java/com/microsoft/reacttestapp/compat/ReactInstanceEventListener.kt
  package.json
Labels: platform: Android

#741 chore(ios): add hardening on build to catch potential security issues
  ios/ReactTestApp.xcodeproj/xcshareddata/xcschemes/ReactTestApp.xcscheme
  ios/ReactTestApp/ReactTestApp.common.xcconfig
  ios/ReactTestApp/ReactTestApp.debug.xcconfig
Labels: platform: iOS

#760 fix(macos): harden macOS builds against potential security issues
  ios/ReactTestApp/ReactTestApp.common.xcconfig
  ios/ReactTestApp/ReactTestApp.debug.xcconfig
  macos/ReactTestApp.xcodeproj/xcshareddata/xcschemes/ReactTestApp.xcscheme
  macos/ReactTestApp/ReactTestApp.common.xcconfig
  macos/ReactTestApp/ReactTestApp.debug.xcconfig
Labels: platform: iOS, platform: macOS

#764 fix(windows): find `app.json` starting from the solution dir
  windows/test-app.js
Labels: platform: Windows

#762 feat(windows): add signing capability
  example/metro.config.js
  test/windows-test-app/copyAndReplace.test.js
  test/windows-test-app/getBundleResources.test.js
  test/windows-test-app/nuGetPackage.test.js
  windows/ReactTestApp/ReactTestApp.vcxproj
  windows/ReactTestApp/packages.config
  windows/test-app.js
Labels: platform: Windows

#775 fix(android): set `allprojects.repositories` in project template
  example/android/build.gradle
  scripts/configure.js
  test/configure/__snapshots__/gatherConfig.test.js.snap
Labels: platform: Android

#776 fix(windows): .appxmanifest path should always be relative to project
  test/windows-test-app/getBundleResources.test.js
  windows/ReactTestApp/ReactTestApp.vcxproj
  windows/ReactTestApp/ReactTestApp.vcxproj.filters
  windows/test-app.js
Labels: platform: Windows

#777 fix(windows): use latest installed Windows SDK
  windows/ReactTestApp/ReactTestApp.vcxproj
Labels: platform: Windows

#714 chore: bump react-native to 0.66
  .github/renovate.json
  README.md
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/package.json
  package.json
  scripts/xcodebuild.sh
  yarn.lock
Labels: platform: iOS, platform: macOS

#784 fix: enable sanitizers in Xcode build settings instead
  ios/ReactTestApp.xcodeproj/xcshareddata/xcschemes/ReactTestApp.xcscheme
  ios/ReactTestApp/ReactTestApp.debug.xcconfig
  macos/ReactTestApp.xcodeproj/xcshareddata/xcschemes/ReactTestApp.xcscheme
  macos/ReactTestApp/ReactTestApp.debug.xcconfig
Labels: platform: iOS, platform: macOS

#786 fix(windows): workaround for building with VS 2022
  windows/test-app.js
Labels: platform: Windows
