Repository microsoft/react-native-test-app, pull requests merged in 2023-10, with the labels that each got.

#1631 fix(android): handle missing Gradle patch version number
  android/test-app-util.gradle
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  scripts/android-nightly.patch
Labels: platform: Android

#1632 fix(android): bump target API level to 33
  android/app/src/main/java/com/microsoft/reacttestapp/component/ComponentActivity.kt
  android/dependencies.gradle
  example/babel.config.js
  scripts/set-react-version.mjs
  scripts/test-matrix.sh
Labels: platform: Android

#1633 fix(apple): disable `deterministic_uuids` starting with 0.73
  ios/ReactTestApp/Info.plist
  ios/test_app.rb
  macos/ReactTestApp/Info.plist
Labels: platform: iOS, platform: macOS

#1634 fix(android): fix crash on startup with react-native 0.64
  android/dependencies.gradle
Labels: platform: Android

#1623 fix: ensure correct handling of versions 0.100+
  android/app/build.gradle
  android/dependencies.gradle
  android/test-app-util.gradle
  ios/ReactTestApp/React+Compatibility.m
  ios/pod_helpers.rb
  ios/test_app.rb
  plugins/reanimated.js
  scripts/configure.js
  scripts/helpers.js
  scripts/set-react-version.mjs
  test-app.gradle
  test/android-test-app/test-app-util.test.mjs
  test/configure/packageSatisfiesVersionRange.test.mjs
  test/helpers.test.mjs
  test/test_pod_helpers.rb
  test/windows-test-app/getBundleResources.test.mjs
  test/windows-test-app/getVersionNumber.test.mjs
  windows/ReactTestApp/MainPage.cpp
  windows/ReactTestApp/ReactTestApp.vcxproj
  windows/test-app.js
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1662 ci: build only affected platforms
  .github/actions/affected/action.yml
  .github/labeler.yml
  .github/workflows/build.yml
  package.json
  scripts/affected.mjs
  yarn.lock
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1655 fix: add Flipper deprecation warning
  android/app/build.gradle
  ios/use_react_native-0.64.rb
  ios/use_react_native-0.68.rb
  ios/use_react_native-0.70.rb
Labels: platform: Android, platform: iOS, platform: macOS

#1673 ci: bump Node to v20 (LTS)
  .editorconfig
  .github/actions/setup-toolchain/action.yml
  .github/renovate.json
  .github/workflows/build.yml
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  package.json
  yarn.lock
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1669 fix: actually disable Flipper on Android and iOS (both local example app and new generation)
  android/test-app-util.gradle
  example/android/gradle.properties
  example/ios/Podfile
  scripts/configure.js
  test/android-test-app/test-app-util.test.mjs
  test/configure/gatherConfig.test.mjs
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1675 fix(android): add `reactNativeArchitectures` to template
  example/android/gradle.properties
  example/tsconfig.json
Labels: platform: Android

#1680 fix(android): fix `onReactContextInitialized()` signature
  android/app/src/main/java/com/microsoft/reacttestapp/MainActivity.kt
  android/app/src/main/java/com/microsoft/reacttestapp/react/TestAppReactNativeHost.kt
Labels: platform: Android
