Repository microsoft/react-native-test-app, pull requests merged in 2023-04, with the labels that each got.

#1367 fix: replace yargs with minimist to reduce footprint
  package.json
  scripts/configure.js
  scripts/parseargs.js
  test/pack.test.js
  windows/test-app.js
  yarn.lock
Labels: platform: Windows

#1386 fix(android): bump native dependencies
  android/dependencies.gradle
Labels: platform: Android

#1389 fix(android): fix Fabric cannot be enabled on 0.72
  android/app/build.gradle
  android/app/src/main/java/com/microsoft/reacttestapp/component/ComponentActivity.kt
  android/app/src/reactactivitydelegate-0.72/java/com/microsoft/reacttestapp/component/ComponentActivityDelegate.kt
  android/app/src/reactactivitydelegate-pre-0.72/java/com/microsoft/reacttestapp/component/ComponentActivityDelegate.kt
  test/pack.test.js
Labels: platform: Android

#1392 fix(android): fix multiple Kotlin Gradle plugin loads warning
  android/app/build.gradle
  android/dependencies.gradle
  example/android/gradle.properties
Labels: platform: Android

#1363 feat: use `@rnx-kit/react-native-host`
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  ios/ReactTestApp.xcodeproj/project.pbxproj
  ios/ReactTestApp/BridgeDelegate.h
  ios/ReactTestApp/BridgeDelegate.mm
  ios/ReactTestApp/ContentView.swift
  ios/ReactTestApp/React+Fabric.h
  ios/ReactTestApp/React+Fabric.mm
  ios/ReactTestApp/ReactInstance.swift
  ios/ReactTestApp/ReactTestApp-Bridging-Header.h
  ios/pod_helpers.rb
  ios/test_app.rb
  macos/ReactTestApp.xcodeproj/project.pbxproj
  macos/ReactTestApp/AppDelegate.swift
  package.json
  test/pack.test.js
  yarn.lock
Labels: platform: iOS, platform: macOS

#1398 fix: bump `react-native-safe-area-context` to fix for xcode 14.3
  example/ios/Podfile.lock
  example/package.json
  scripts/android-nightly.patch
  yarn.lock
Labels: platform: iOS

#1404 fix(android): fix Android nightly build failure
  android/app/src/main/java/com/microsoft/reacttestapp/react/AppRegistry.kt
Labels: platform: Android

#1405 fix(ios): bump deployment target to 13.7
  example/ios/ExampleTests/ManifestTests.swift
  ios/ReactTestApp.xcodeproj/project.pbxproj
  ios/ReactTestApp/ReactTestApp.common.xcconfig
Labels: platform: iOS
