Repository microsoft/react-native-test-app, pull requests merged in 2024-03, with the labels that each got.

#1897 ci: fix formatting breaking publishing
  .github/workflows/build.yml
  scripts/configure.mjs
  scripts/init.mjs
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows, platform: visionOS

#1895 refactor: further reduce out-of-tree platform package name dupes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/new_react-native_version.yml
  .github/labeler.yml
  CONTRIBUTING.md
  ios/ReactTestApp/UIViewController+ReactTestApp.h
  ios/test_app.rb
  package.json
  scripts/configure.mjs
  scripts/schema.js
  scripts/types.ts
  test/android-test-app/gradle.mjs
  test/configure/gatherConfig.test.mjs
  test/configure/getConfig.test.mjs
  test/configure/getPlatformPackage.test.mjs
  test/configure/mockParams.mjs
  test/configure/reactNativeConfig.test.mjs
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows, platform: visionOS

#1899 fix(apple): fix build breaking on older Xcode versions
  .github/actions/setup-toolchain/action.yml
  ios/ReactTestApp/ReactInstance.swift
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows, platform: visionOS

#1900 fix(android): handle simplified `ReactActivityDelegate`
  android/app/build.gradle
  android/app/src/reactactivitydelegate-0.75/java/com/microsoft/reacttestapp/component/ComponentActivityDelegate.kt
  test/pack.test.mjs
Labels: platform: Android

#1903 fix: resolve `react-native-test-app` path dynamically
  example/android/build.gradle
  example/android/settings.gradle
  example/ios/Podfile
  example/ios/Podfile.lock
  example/macos/Podfile
  example/macos/Podfile.lock
  example/visionos/Podfile
  example/visionos/Podfile.lock
  scripts/configure.mjs
  scripts/template.mjs
  test/configure/gatherConfig.test.mjs
  test/configure/projectRelativePath.test.mjs
Labels: platform: Android, platform: iOS, platform: macOS, platform: visionOS

#1904 fix(apple): fix build breaking on Xcode 14 (attempt 2)
  ios/ReactTestApp/ReactInstance.swift
Labels: platform: iOS, platform: macOS, platform: visionOS

#1908 fix(apple): enable bridgeless by default with New Arch in 0.74
  example/ios/Podfile
  example/visionos/Podfile
  ios/pod_helpers.rb
  test/test_pod_helpers.rb
Labels: platform: iOS, platform: macOS, platform: visionOS

#1924 fix(apple): update Xcode projects
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/visionos/Podfile.lock
  ios/ReactTestApp.xcodeproj/project.pbxproj
  ios/ReactTestApp/ReactTestApp.common.xcconfig
  ios/test_app.rb
  macos/ReactTestApp.xcodeproj/project.pbxproj
  macos/ReactTestApp/ReactTestApp.common.xcconfig
  macos/Shared
  visionos/ReactTestApp.xcodeproj/project.pbxproj
  visionos/ReactTestApp/ReactTestApp.common.xcconfig
  visionos/Shared
Labels: platform: iOS, platform: macOS, platform: visionOS

#1925 fix(windows): fix arch mismatch errors when enabling NuGet
  .github/workflows/build.yml
  windows/UWP/ReactTestApp.vcxproj
  windows/UWP/packages.config
  windows/uwp.mjs
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows, platform: visionOS

#1926 fix(windows): align color use with `@react-native-community/cli`
  test/windows-test-app/getBundleResources.test.mjs
  test/windows-test-app/parseResources.test.mjs
  windows/project.mjs
  windows/test-app.mjs
Labels: platform: Windows

#1927 fix(windows): use proper NuGet feed for canaries
  .github/workflows/build.yml
  windows/test-app.mjs
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows, platform: visionOS

#1935 fix(android): automatically configure Gradle wrapper
  android/app/build.gradle
  scripts/configure-projects.js
  scripts/set-react-version.mjs
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows, platform: visionOS

#1936 chore(visionos): reintroduce no-packager for visionos
  example/package.json
  example/visionos/Podfile.lock
  yarn.lock
Labels: platform: visionOS

#1937 fix(windows): fix NuGet downloading 0.64 instead of canary builds
  windows/UWP/ReactTestApp.vcxproj
  windows/test-app.mjs
Labels: platform: Windows
