Repository microsoft/react-native-test-app, pull requests merged in 2024-02, with the labels that each got.

#1810 ci: use `macos-14` runner image
  .github/actions/setup-toolchain/action.yml
  .github/workflows/build.yml
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1793 feat: add support for bridgeless mode
  Gemfile.lock
  android/app/build.gradle
  android/app/src/new-arch-0.73/java/com/microsoft/reacttestapp/compat/ReactNativeHostCompat.kt
  android/app/src/new-arch-0.73/java/com/microsoft/reacttestapp/fabric/ComponentsRegistry.kt
  android/app/src/new-arch-0.73/java/com/microsoft/reacttestapp/turbomodule/TurboModuleManagerDelegate.kt
  android/dependencies.gradle
  android/test-app-util.gradle
  example/App.tsx
  example/android/gradle.properties
  example/ios/Podfile
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/package.json
  ios/ReactTestApp/ReactInstance.swift
  ios/pod_helpers.rb
  ios/test_app.rb
  ios/use_react_native-0.71.rb
  package.json
  test/pack.test.mjs
  test/test_pod_helpers.rb
  yarn.lock
Labels: platform: Android, platform: iOS, platform: macOS

#1812 ci: update Windows CI for Node 20
  .github/actions/setup-toolchain/action.yml
  .github/workflows/build.yml
  scripts/VSTest.ps1
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1814 fix(apple): fix dev server -> embedded bundle fallback not working
  ios/ReactTestApp/ReactInstance.swift
Labels: platform: iOS, platform: macOS

#1816 fix(apple): fix `ReactTestApp_DevSupport` missing bridging header
  ReactTestApp-DevSupport.podspec
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  ios/ReactTestApp/Public/ReactTestApp-DevSupport-Bridging-Header.h
  ios/ReactTestApp/ReactInstance.swift
  ios/ReactTestApp/ReactTestApp-Bridging-Header.h
  macos/ReactTestApp/AppDelegate.swift
  test/pack.test.mjs
Labels: platform: iOS, platform: macOS

#1820 chore: separate types from scripts
  scripts/affected.mjs
  scripts/configure.js
  scripts/generate-manifest.mjs
  scripts/parseargs.js
  scripts/schema.js
  scripts/set-react-version.mjs
  scripts/types.ts
  windows/test-app.js
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1822 fix(apple): assert CocoaPods version
  ios/pod_helpers.rb
  ios/test_app.rb
  test/test_pod_helpers.rb
Labels: platform: iOS, platform: macOS

#1811 chore: replace `react-native-safe-area-context`
  .github/actions/setup-react-native/action.yml
  .github/workflows/build.yml
  example/App.tsx
  example/babel.config.js
  example/index.js
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/package.json
  scripts/disable-safe-area-context.patch
  scripts/test-matrix.mjs
  yarn.lock
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1829 fix(ios): fix crash on startup on nightlies
  ios/ReactTestApp/ContentView.swift
  macos/ReactTestApp/AppDelegate.swift
Labels: platform: iOS, platform: macOS

#1830 fix(android): fix nightly build issues
  android/app/src/main/java/com/microsoft/reacttestapp/react/TestAppReactNativeHost.kt
  android/app/src/reactapplication-0.73/java/com/microsoft/reacttestapp/TestApp.kt
Labels: platform: Android

#1831 fix(apple): `sourceURL(for:)` can return `nil` again
  example/App.tsx
  example/test/specs/app.spec.mjs
  ios/ReactTestApp/ReactInstance.swift
  ios/test_app.rb
Labels: platform: iOS, platform: macOS

#1828 feat: add support for custom app fonts
  .rubocop.yml
  ios/ReactTestApp.xcodeproj/project.pbxproj
  ios/test_app.rb
  macos/ReactTestApp.xcodeproj/project.pbxproj
  scripts/config-plugins/plugins/withIosBaseMods.mjs
  test-app.gradle
Labels: platform: Android, platform: iOS, platform: macOS

#1838 docs: fix description of `ios.alternateIcons`
  Gemfile
  Gemfile.lock
  schema.json
  scripts/docs/ios.icons.alternateIcons.md
Labels: platform: iOS, platform: macOS

#1842 fix(android): change signature to build pre73 (72,71)
  android/app/src/reactapplication-pre-0.73/java/com/microsoft/reacttestapp/TestApp.kt
Labels: platform: Android

#1843 chore: `@react-native-webapis/web-storage` is not compatible with 0.71
  android/test-app-util.gradle
  example/package.json
  scripts/set-react-version.mjs
  yarn.lock
Labels: platform: Android

#1844 fix(apple): update compatible CocoaPods versions
  ios/pod_helpers.rb
  test/test_pod_helpers.rb
Labels: platform: iOS, platform: macOS

#1847 fix(apple): fix `pod install` failing if no resources are declared
  ios/test_app.rb
Labels: platform: iOS, platform: macOS

#1854 fix(apple): fix missing dev menu entries in bridgeless mode
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/package.json
  ios/ReactTestApp/AppRegistryModule.mm
  ios/ReactTestApp/Public/ReactTestApp-DevSupport.h
  ios/ReactTestApp/ReactInstance.swift
  ios/ReactTestApp/ReactTestApp-DevSupport.m
  package.json
  yarn.lock
Labels: platform: iOS, platform: macOS

#1852 fix(windows): fix `init` failing on Windows
  .github/workflows/build.yml
  scripts/helpers.js
  scripts/init.js
  test/pack.test.mjs
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1855 fix(windows): fix `init` failing in Git Bash
  scripts/init.js
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1861 chore(android): replace `tryGetProperty` with `findProperty`
  android/dependencies.gradle
  android/test-app-util.gradle
  test-app.gradle
Labels: platform: Android

#1856 chore: lift hoisting limits
  .yarnrc.yml
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/test/config.test.mjs
Labels: platform: iOS, platform: macOS

#1862 chore(readme): add ref to upgrading wiki
  README.md
Labels: documentation

#1864 fix(android): update signature for `TurboModuleManagerDelegate.initHybrid`
  CONTRIBUTING.md
  android/app/src/new-arch-0.73/java/com/microsoft/reacttestapp/turbomodule/TurboModuleManagerDelegate.kt
  android/app/src/new-arch/java/com/microsoft/reacttestapp/turbomodule/TurboModuleManagerDelegate.kt
Labels: platform: Android

#1868 fix(android): hook up C++ TurboModules autolinking
  android/app/src/main/jni/OnLoad.cpp
Labels: platform: Android

#1870 fix: convert scripts to ESM
  .github/workflows/build.yml
  package.json
  scripts/configure.js
  scripts/helpers.js
  scripts/init.mjs
  scripts/link.js
  scripts/set-react-version.mjs
  scripts/test-e2e.mjs
  scripts/test-matrix.mjs
  scripts/types.ts
  scripts/validate-manifest.js
  test/pack.test.mjs
  test/windows-test-app/copy.test.mjs
  test/windows-test-app/copyAndReplace.test.mjs
  test/windows-test-app/findUserProjects.test.mjs
  test/windows-test-app/generateSolution.test.mjs
  test/windows-test-app/getBundleResources.test.mjs
  test/windows-test-app/getHermesVersion.test.mjs
  test/windows-test-app/nuGetPackage.test.mjs
  test/windows-test-app/parseResources.test.mjs
  test/windows-test-app/replaceContent.test.mjs
  tsconfig.json
  windows/test-app.mjs
  yarn.lock
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1871 fix: convert `configure.js` to ESM
  .github/workflows/build.yml
  example/test/specs/app.spec.mjs
  package.json
  scripts/configure-projects.js
  scripts/configure.mjs
  scripts/init.mjs
  scripts/parseargs.mjs
  scripts/template.mjs
  scripts/types.ts
  test/android-test-app/gradle.mjs
  test/configure/console.test.mjs
  test/configure/gatherConfig.test.mjs
  test/configure/getAppName.test.mjs
  test/configure/getConfig.test.mjs
  test/configure/getPlatformPackage.test.mjs
  test/configure/isDestructive.test.mjs
  test/configure/join.test.mjs
  test/configure/mergeConfig.test.mjs
  test/configure/mockParams.mjs
  test/configure/projectRelativePath.test.mjs
  test/configure/reactNativeConfig.test.mjs
  test/configure/removeAllFiles.test.mjs
  test/configure/updatePackageManifest.test.mjs
  test/configure/writeAllFiles.test.mjs
  test/pack.test.mjs
  windows/test-app.mjs
  yarn.lock
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1875 chore: random cleanup
  scripts/apply-config-plugins.mjs
  scripts/config-plugins/provider.mjs
  scripts/configure.mjs
  scripts/copy-yarnrc.mjs
  scripts/helpers.js
  scripts/set-react-version.mjs
  scripts/update-ksp-versions.mjs
  scripts/validate-manifest.js
  test/validate-manifest.test.mjs
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1878 fix(apple): fix `ReactTestApp` overrides `USER_HEADER_SEARCH_PATHS` warnings
  ios/test_app.rb
Labels: platform: iOS, platform: macOS

#1877 ci(windows): disable NuGet setup since we build from source
  .github/workflows/build.yml
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1880 fix(ios): fix device not detecting dev server
  ios/ReactTestApp.xcodeproj/project.pbxproj
  ios/test_app.rb
Labels: platform: iOS, platform: macOS
