Repository microsoft/react-native-test-app, pull requests merged in 2024-01, with the labels that each got.

#1752 fix: declare support for `react-native-macos`/`-windows` 0.73
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/package.json
  package.json
  yarn.lock
Labels: platform: iOS, platform: macOS

#1760 chore: workaround boost checksum verification failure
  .github/actions/init-test-app/action.yml
  .yarn/patches/react-native-macos-npm-0.72.12-61bf1f8441.patch
  .yarn/patches/react-native-npm-0.72.8-5af30d9693.patch
  example/ios/Podfile.lock
  example/package.json
  package.json
  scripts/android-nightly.patch
  yarn.lock
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1763 fix(text-matrix): tweak options for rmSync to make it more likely to succeed
  scripts/test-matrix.mjs
Labels: enhancement

#1754 fix(android): handle signature changes in 0.74
  android/app/build.gradle
  android/app/src/devserverhelper-0.74/java/com/microsoft/reacttestapp/react/DevServerHelperCompat.kt
  android/app/src/fabric/java/com/microsoft/reacttestapp/fabric/FabricJSIModulePackage.kt
  android/app/src/main/java/com/microsoft/reacttestapp/compat/ReactNativeHostCompat.kt
  android/app/src/main/java/com/microsoft/reacttestapp/react/TestAppReactNativeHost.kt
  android/app/src/main/jni/CMakeLists.txt
  android/app/src/new-arch-0.74/java/com/microsoft/reacttestapp/compat/ReactNativeHostCompat.kt
  android/app/src/new-arch-0.74/java/com/microsoft/reacttestapp/fabric/ComponentsRegistry.kt
  android/app/src/new-arch-0.74/java/com/microsoft/reacttestapp/turbomodule/TurboModuleManagerDelegate.kt
  android/app/src/new-arch/java/com/microsoft/reacttestapp/compat/ReactNativeHostCompat.kt
  android/app/src/new-arch/java/com/microsoft/reacttestapp/fabric/ComponentsRegistry.kt
  android/app/src/new-arch/java/com/microsoft/reacttestapp/turbomodule/TurboModuleManagerDelegate.kt
  android/app/src/no-fabric/java/com/microsoft/reacttestapp/fabric/FabricJSIModulePackage.kt
  android/app/src/old-arch/java/com/microsoft/reacttestapp/compat/ReactNativeHostCompat.kt
  android/app/src/reactactivitydelegate-0.74/java/com/microsoft/reacttestapp/component/ComponentActivityDelegate.kt
  android/dependencies.gradle
  scripts/android-nightly.patch
  scripts/disable-safe-area-context.patch
  test/pack.test.mjs
Labels: platform: Android

#1772 ci(macos): temporarily disable until publishing is fixed
  .github/workflows/build.yml
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1720 fix: replace `minimist` with `util.parseArgs`
  package.json
  scripts/parseargs.js
  yarn.lock
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1771 fix(apple): update `sourceURL(for:)` signature
  ios/ReactTestApp/ReactInstance.swift
  macos/ReactTestApp/AppDelegate.swift
Labels: platform: iOS, platform: macOS

#1766 fix(ios): deprecate `:use_turbomodule` for `:use_fabric`
  example/ios/Podfile
  ios/ReactTestApp/ReactInstance.swift
  ios/pod_helpers.rb
  ios/test_app.rb
  scripts/test-matrix.mjs
  test/test_pod_helpers.rb
Labels: platform: iOS, platform: macOS

#1778 fix(apple): fix build failing on 0.71.12 or lower
  ios/ReactTestApp/React+Compatibility.h
  ios/ReactTestApp/React+Compatibility.m
  ios/ReactTestApp/ReactInstance.swift
Labels: platform: iOS, platform: macOS

#1779 fix: start using `@rnx-kit/metro-config`
  example/metro.config.js
  example/package.json
  scripts/configure.js
  test/configure/updatePackageManifest.test.mjs
  yarn.lock
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1764 chore: bump `react-native` to 0.73
  .github/actions/setup-toolchain/action.yml
  .github/renovate.json
  .github/workflows/build.yml
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/ios/Podfile.lock
  example/macos/Podfile.lock
  example/package.json
  example/test/config.test.mjs
  example/test/specs/wdio.config.js
  package.json
  scripts/android-nightly.patch
  scripts/configure.js
  scripts/disable-safe-area-context.patch
  scripts/helpers.js
  scripts/test-e2e.mjs
  scripts/test-matrix.mjs
  scripts/validate-manifest.js
  test/android-test-app/gradle.mjs
  test/configure/writeAllFiles.test.mjs
  test/windows-test-app/copyAndReplace.test.mjs
  windows/test-app.js
  yarn.lock
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1781 fix: print selected version when generating projects
  scripts/init.js
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1782 fix: use correct Gradle version for new projects
  scripts/configure.js
  scripts/init.js
  scripts/parseargs.js
  test/configure/gatherConfig.test.mjs
Labels: platform: Android, platform: iOS, platform: macOS, platform: Windows

#1784 fix: only apply config plugins for current platform
  ios/test_app.rb
  scripts/apply-config-plugins.mjs
  scripts/config-plugins/types.mjs
  test-app.gradle
Labels: platform: Android, platform: iOS, platform: macOS

#1774 fix(android): use default app setup for New Arch
  android/app/build.gradle
  android/app/src/main/jni/ComponentsRegistry.cpp
  android/app/src/new-arch-0.74/java/com/microsoft/reacttestapp/compat/ReactNativeHostCompat.kt
  android/app/src/new-arch-0.74/java/com/microsoft/reacttestapp/fabric/ComponentsRegistry.kt
  android/app/src/new-arch-0.74/java/com/microsoft/reacttestapp/turbomodule/TurboModuleManagerDelegate.kt
  android/app/src/new-arch/java/com/microsoft/reacttestapp/compat/ReactNativeHostCompat.kt
  android/app/src/reactapplication-0.73/java/com/microsoft/reacttestapp/TestApp.kt
  android/dependencies.gradle
  example/android/gradle.properties
  test/pack.test.mjs
Labels: platform: Android

#1792 chore(readme): improve readme and add customers' showcase
  README.md
Labels: documentation

#1790 fix(android): get JS executor name directly via the executor
  android/app/src/main/java/com/microsoft/reacttestapp/MainActivity.kt
  android/app/src/main/java/com/microsoft/reacttestapp/react/TestAppReactNativeHost.kt
  android/app/src/new-arch/java/com/microsoft/reacttestapp/compat/ReactNativeHostCompat.kt
  android/test-app-util.gradle
Labels: platform: Android

#1791 fix(android): add support for scoped Gradle properties
  android/app/build.gradle
  android/app/src/reactapplication-0.73/java/com/microsoft/reacttestapp/TestApp.kt
  android/test-app-util.gradle
Labels: platform: Android

#1795 fix(windows): use default value for `UseHermes`
  windows/ExperimentalFeatures.props
  windows/test-app.js
Labels: platform: Windows

#1796 fix(macos): ignore undefined `TARGET_OS_*` macros
  macos/ReactTestApp/ReactTestApp.common.xcconfig
Labels: platform: macOS

#1804 fix: print error message for CocoaPods 1.15.0
  ios/test_app.rb
Labels: platform: iOS, platform: macOS

#1805 fix(android): fix TurboModule modules not loading properly
  android/app/src/main/jni/OnLoad.cpp
Labels: platform: Android
